@import "tailwindcss";

:root {
  --background: #6a11b0;
  --foreground: #171717;
}

body {
  background-color: #6a11b0;
  color: #171717;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
